@charset "utf-8";
/* CSS Document */
p {
	color:darkolivegreen;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600;
	background-color: antiquewhite;
	padding: 20px;
	
}
.paragraf_2 {color:darkcyan; background-color: rgba(255, 255, 255, 0.5);}
.novi_blok{background-color: rgba(255, 255, 255, 0.5);
padding:20px;
margin: 20px;
width: 50%;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: darkslategray;
}
body{
background-image: url("Projektni zadatak 3/pozz.jpg");
}
.drugapozadina {
background-color: darkgrey;
}
a {
background-color: white;
padding: 5px;
line-height: 25px;
border: 1px solid #000000;
}
a:hover{
background-color: darkgrey;
}
img {
height: 200px;
}